{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit <span class="evt-name">
    {{ object.title }}</span></h1>
{% else %}
<h1>Add Event</h1>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    {% if not object %}
    <tr>
      <th>
        <label>Photo</label>
      </th>
      <td>
        <label for="photo-file" class="btn" id="button">Upload Photo</label>
        <input type="file" name="photo-file" id="photo-file">
      </td>
    </tr>
    {% endif %}
  </table><br>
  <input type="submit" value="Submit!" class="btn" id="button" style="margin-bottom: 25px;">
</form>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}