{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">
    {{ object.title }}</span></h1>
{% else %}
<h1>Add Event</h1>
{% endif %}


<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ event_form.as_table }}
    <tr>
      <th>
        <label for="photo-file">Photo</label>
      </th>
      <td>
        <input type="file" name="photo-file" id="photo-file">
      </td>
    </tr>
  </table><br>
  <input type="submit" value="Submit!" class="btn" style="background-color: #daad86;">
</form>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}