{% extends 'base.html' %}
{% block content %}

<h1 class="center">
  {{ event.title }}
</h1>

<div class="row">
  <div class="center col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <p>
          <img src="{{ event.photo }}" alt="Event Photo" class="event-img">
        </p>
        <p class="top left">
          {{ event.date }}
        </p>
        <p class="top right">CATEGORY:
          {{ event.category }}
        </p><br><br>
        <p>
          {{ event.details }}
        </p><br>
        <p>
          {{ event.location }}
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<h1 class="center">Hosted Collides:</h1>
{% if event.collides.count %}
{% for host in hosts %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <p>
            {{ host.host.first_name }}
            {{ host.host.last_name }}
          </p>
          <p>
            Rating:
            {% if host.host_rating %}
            <span class="rating-stars" id="host-{{ host.host.id }}">⭐️⭐️⭐️⭐️⭐️</span>
            {% else %}
            <span style="color: orange;">No Reviews</span>
            {% endif %}
          </p>
          <a href="{% url 'collides_detail' host.collide.id %}" class="evt-link">COLLIDE DETAILS</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<h4 class="center" id="no-collide">No Collides Yet</h4>
{% endif %}
<div class="row"><br>
  <div class="center">
    <a href="{% url 'collide_create' event.id %}" id="create-btn">Host Collide</a>
  </div>
</div>

<script>
  {% for host in hosts %}
  hostRatingEl = document.getElementById('host-{{host.host.id}}');
  hostRatingEl.style.width = `${24 * {{ host.host_rating }}}` + 'px';
  {% endfor %}
</script>

{% endblock %}