{% extends 'base.html' %}
{% block content %}

<h1 class="center">
  {{ event.title }}
</h1>

<div class="row">
  <div class="center col s8">
    <div class="card">
      <div class="card-content">
        <p class="top left">
          {{ event.date }}
        </p>
        <p class="top right">CATEGORY:
          {{ event.category }}
        </p><br><br>
        <p>
          {{ event.details }}
        </p><br>
        <a href="">LOCATION</a>
      </div>
    </div>
  </div>
</div>
<hr>
<h1 class="center">Hosted Collides:</h1>
{% if event.collides.count %}
{% for collide in event.collides.all %}
<div class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <p>
            {{ collide.host.first_name }}
            {{ collide.host.last_name }}
          </p>
          <p>
            Rating:
            {% if host_rating.count %}
            <span class="rating-stars" id="host-{{ collide.host.id }}">⭐️⭐️⭐️⭐️⭐️</span>
            {% else %}
            <span style="color: orange;">No Reviews</span>
            {% endif %}
          </p>
          <a href="{% url 'collides_detail' collide.id %}" class="evt-link">COLLIDE DETAILS</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<h4 class="center">No Collides Yet</h4>
{% endif %}
<a href="{% url 'collide_create' event.id %}" id="create-btn">Host Collide</a>

<script>
  let hostRatingEl = document.getElementById('host-{{collide.host.id}}');
  hostRatingEl.style.width = `${24 * {{ host_rating }}}` + 'px';
</script>

{% endblock %}