{% extends 'base.html' %}
{% block content %}

<h1 class="center">EVENTS</h1>

<div>
  <div class="left">
    <a href="{% url 'events_index' %}" class="{% if filter_category == None %}active{% else %}inactive{% endif %}" id="filters">ALL</a>
    {% for category in distinct_cat %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% url 'events_index' %}?filter={{ category.0 }}&date_filter={{ date_filter }}" class="{% if category.0 == filter_category %}active{% else %}inactive{% endif %}" id="filters">
      {{ category.0 }}
    </a>
    {% endfor %}
  </div>
  <div class="right">
    <a href="{% if filter_category %}{% url 'events_index' %}?filter={{ filter_category }}&date_filter=past
    {% else %}{% url 'events_index' %}?date_filter=past{% endif %}" class="{% if date_filter == 'past' %}active
    {% else %}inactive{% endif %}" id="filters">PAST EVENTS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{% if filter_category %}{% url 'events_index' %}?filter={{ filter_category }}&date_filter=upcoming
    {% else %}{% url 'events_index' %}?date_filter=upcoming{% endif %}" class="{% if date_filter == 'upcoming' %}active
    {% else %}inactive{% endif %}" id="filters">UPCOMING EVENTS</a>
  </div>
</div>

{% for event in events %}
<div class="row">
  <div class="center col s7">
    <a href="{% url 'events_detail' event.id %}" id="evt-link">
      <div class="card">
        <div class="card-content">
          <p class="top left">
            {{ event.date }}
          </p>
          <p class="top right">CATEGORY:
            {{ event.category }}
          </p><br><br>
          <span class="card-title">
            {{ event.title }}
          </span>
          <p>
            {{ event.description }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %}

{% endblock %}