{% extends 'base.html' %}
{% block content %}

<h1 class="center">EVENTS</h1>

<a href="{% url 'events_index' %}" style="color: #daad86;" class="{% if None == filter %}active{% endif %}">ALL</a>
{% for category in distinct_cat %}
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url 'events_index' %}?filter={{ category.0 }}" style="color: #daad86;" class="{% if category.0 == filter %}active{% endif %}">
  {{ category.0 }}
</a>
{% endfor %}

{% for event in events %}
<div class="row">
  <div class="center col s7">
    <a href="{% url 'events_detail' event.id %}" id="evt-link">
      <div class="card">
        <div class="card-content">
          <p class="top left">
            {{ event.date }}
          </p>
          <p class="top right">CATEGORY:
            {{ event.category }}
          </p><br><br>
          <span class="card-title">
            {{ event.title }}
          </span>
          <p>
            {{ event.description }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %}

{% endblock %}