{% extends 'base.html' %}
{% block content %}

<nav>
  <div class="nav-wrapper">
    <ul>
      <li><p class="left brand-logo" style="color: #F0FD95;">&nbsp;&nbsp;{{ user.first_name }}'s Profile</p></li>
    </ul>
    <ul class="right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'events_index' %}" class="nav-btn">Events</a></li>
      <li><a href="{% url 'events_create' %}" class="nav-btn">Create Event</a></li>
      <li>
        <a href="#" class="nav-btn">
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="submit-link">Log Out</button>
          </form>
        </a>
      </li>
      {% else %}
      <li><a href="{% url 'signup' %}" class="nav-btn">Sign Up</a></li>
      <li><a href="{% url 'login' %}" class="nav-btn">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</nav>



{% endblock %}