{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collider</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Poiret+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo" style="color: #F0FD95;">&nbsp;&nbsp;Collider</a></li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'user_events' %}" class="nav-btn">Profile</a></li>
          <li><a href="{% url 'events_index' %}" class="nav-btn">Events</a></li>
          <li><a href="{% url 'events_create' %}" class="nav-btn">Create Event</a></li>
          <li>
            <a href="#" class="nav-btn">
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="submit-link">Log Out</button>
              </form>
            </a>
          </li>
          {% else %}
          <li><a href="{% url 'signup' %}" class="nav-btn">Sign Up</a></li>
          <li><a href="{% url 'login' %}" class="nav-btn">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    <br>
    <nav style="background-color: #B9BEB3;">
      <div class="nav-wrapper">
        <ul>
          <li>
            <p class="left brand-logo" style="color: #F0FD95;">&nbsp;&nbsp;
              {{ user.first_name }}'s Profile
            </p>
          </li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'user_events' %}" class="nav-btn">My Events</a></li>
          <li><a href="{% url 'user_collides' %}" class="nav-btn">My Collides</a></li>
          <li><a href="{% url 'user_rsvps' %}" class="nav-btn">My RSVPs</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}" class="nav-btn">Sign Up</a></li>
          <li><a href="{% url 'login' %}" class="nav-btn">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2024 Collider &nbsp;</div>
  </footer>
</body>

</html>