body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #659dbd;
  color: #fbeec1;
  font-family: 'Playfair Display', serif;
}

main {
  flex: 1 0 auto;
}

p.left.brand-logo,
a.left.brand-logo {
  position: relative;
  display: inline-flex;
}

nav a {
  margin-right: 2rem;
  max-width: 8rem;
}

nav p {
  margin-top: auto;
}

nav,
footer.page-footer {
  font-family: 'Poiret One', sans-serif;
  padding-top: 0;
  text-align: right;
  background-color: #bc986A;
  color: #fbeec1;
  border-radius: 5px;
}

input {
  color: #fbeec1;
  background-color: white;
}

textarea {
  color: #fbeec1;
}

.submit-link {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.submit-link:focus {
  background-color: transparent;
  outline: none;
}

.nav-btn {
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #659dbd;
  text-align: center;
  border-radius: 5px;
  color: #fbeec1;
  font-weight: bold;
  line-height: 25px;
}

.nav-btn button {
  font-family: 'Poiret One', sans-serif;
  color: #fbeec1;
}

.evt-link {
  text-decoration: underline;
  color: #fbeec1;
}

#evt-details {
  color: #fbeec1;
}

.edit-link {
  color: white;
  text-decoration: underline;
  font-size: 1.15vmax;
}

.card {
  background-color: transparent;
  border: 3px solid #bc986A;
}

#card:hover {
  border-color: #fbeec1;
}

a.evt-link {
  color: #fbeec1;
}

#none, 
a.evt-link:hover {
  color: #daad86;
}

#create-btn {
  display: flexbox;
  padding: 7px 15px;
  width: 12vmax;
  height: 3vmax;
  background: #B9BEB3;
  text-align: center;
  border-radius: 5px;
  color: #fbeec1;
  font-size: 1.75vmax;
}

.rating-stars {
  display: inline-block;
  overflow: hidden;
}

a.inactive {
  color: #daad86;
  font-size: 1rem;
}

a.inactive:hover {
  color: white;
}

a.active {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  background: #daad86;
  text-align: center;
  border-radius: 5px;
  color: #659dbd;
  font-size: 1rem;
}

table > tbody > tr > th > label {
  color: #fbeec1;
  font-size: 1rem;
}

#card-content {
  color: #fbeec1;
}

#button:hover,
#create-btn:hover,
#card-content:hover {
  background-color: #bc986A;
  color: white;
}

#searchbar {
  font-size: 1rem;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid #daad86;
  max-width: 45rem;
  max-height: 1.25rem;
  text-transform: uppercase;
}

#search-btn {
  font-size: 1rem;
  background-color: #bc986A;
  border-color: #daad86;
  color: #fbeec1;
  border-radius: 5px;
  max-width: 8rem;
  height: 100%;
  justify-self: center;
}

.event-img {
  max-width: 100%;
}

.evt-name {
  color: #daad86;
}

.card-title {
  display: flexbox;
}

#name,
#c-location {
  position: absolute;
  top: 10px;
  left: 10px;
}

#rating,
#time {
  position: absolute;
  top: 5px;
  right: 10px;
}

#c-host-rating span,
#rating span{
  position: relative;
  top: 6px;
}

#collide {
  text-align: center;
}

#details {
  padding-top: 25px;
}

.info {
  padding-top: 10px;
}

input[type="file"] {
  display: none;
}

#button {
  background-color: #daad86;
}

label {
  color: #fbeec1;
  font-size: 1rem;
}

html,
#landing {
  background-image: url('https://i.imgur.com/AV7MBEH.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.child {
  width: 100%;
  height: 50%;
  text-align: center;
  align-self: center;
}
