body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #2C2B21;
  color: #E9FF4F;
}

main {
  flex: 1 0 auto;
}

nav,
footer.page-footer {
  font-family: 'Poiret One', sans-serif;
  padding-top: 0;
  text-align: right;
  background-color: transparent;
  color: #E9FF4F;
}

input {
  color: #E9FF4F;
  background-color: white;
}

textarea {
  color: #E9FF4F;
}

.submit-link {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.submit-link:focus {
  background-color: transparent;
  outline: none;
}

.nav-btn {
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #B9BEB3;
  text-align: center;
  border-radius: 5px;
  color: #F0FD95;
  font-weight: bold;
  line-height: 25px;
}

.nav-btn button {
  font-family: 'Poiret One', sans-serif;
  color: #F0FD95;
}