body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #659dbd;
  color: #fbeec1;
  font-family: 'Playfair Display', serif;
}

main {
  flex: 1 0 auto;
}

nav a {
  margin-right: 2rem;
}

nav p {
  margin-top: auto;
}

nav,
footer.page-footer {
  font-family: 'Poiret One', sans-serif;
  padding-top: 0;
  text-align: right;
  background-color: #bc986A;
  color: #fbeec1;
  border-radius: 5px;
}

input {
  color: #fbeec1;
  background-color: white;
}

textarea {
  color: #fbeec1;
}

.submit-link {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.submit-link:focus {
  background-color: transparent;
  outline: none;
}

.nav-btn {
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #659dbd;
  text-align: center;
  border-radius: 5px;
  color: #fbeec1;
  font-weight: bold;
  line-height: 25px;
}

.nav-btn button {
  font-family: 'Poiret One', sans-serif;
  color: #fbeec1;
}

.evt-link {
  text-decoration: underline;
  color: #fbeec1;
}

.edit-link {
  color: white;
  text-decoration: underline;
  font-size: 1.15vmax;
}

.card {
  background-color: transparent;
  border-color: #fbeec1;
  border-width: thin;
  border-style: solid;
}

#evt-link {
  color: #fbeec1;
}

#create-btn {
  display: inline-block;
  width: 12vmax;
  height: 3vmax;
  background: #B9BEB3;
  text-align: center;
  border-radius: 5px;
  color: #fbeec1;
  font-size: 1.75vmax;
}

.rating-stars {
  display: inline-block;
  overflow: hidden;
}

a.inactive {
  color: #daad86;
  font-size: 1.25vmax;

}

a.inactive:hover {
  color: white;
}

a.active {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  background: #daad86;
  text-align: center;
  border-radius: 5px;
  color: #659dbd;
  font-size: 1.25vmax;
}

table > tbody > tr > th > label {
  color: #fbeec1;
}

.card-content:hover {
  background-color: #bc986A;
  color: white;
}

#searchbar {
  font-size: 1.25vmax;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid #daad86;
  width: 45vmax;
  height: 1.75vmax;
  text-transform: uppercase;
}

#search-btn {
  font-size: 1.5vmax;
  background-color: #bc986A;
  border-color: #daad86;
  color: #fbeec1;
  border-radius: 5px;
  width: 8vmax;
  height: 100%;
  justify-self: center;
}