{% extends 'base.html' %}
{% block content %}

<h1 class="center">Collide Details</h1>

<div class="row">
  <div class="col s8">
    <h3>Collide Host:</h3>
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <p>
            {{ collide.host.first_name }}
            {{ collide.host.last_name }}
          </p>
          <p>
            Rating: <span class="rating-stars" id="host-{{ collide.host.id }}">⭐️⭐️⭐️⭐️⭐️</span>
          </p>
          {% if user.id == collide.host.id or has_rated_host %}
          <p></p>
          {% else %}
          <form action="{% url 'add_rating' collide.id collide.host.id %}" method="POST">
            {% csrf_token %}
            {{ rating_form.as_p }}
            <input type="submit" value="RATE" class="btn">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<hr><br>
{% if has_rsvpd %}
<p class="right">You have RSVP'd</p>
{% else %}
<div class="right">
  <form action="{% url 'add_rsvp' collide.id %}" method="POST">
    {% csrf_token %}
    {{ rsvp_form.as_p }}
    <input type="submit" value="RSVP" class="btn" style="background-color: #daad86">
  </form>
</div>
{% endif %}
{% if rsvps.count %}
{% for a in attendees %}
<div class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <p>
            {{ a.attendee.first_name }}
            {{ a.attendee.last_name }}
          </p>
          <p>
            Rating: <span class="rating-stars" id="attendee-{{ a.attendee.id }}">⭐️⭐️⭐️⭐️⭐️</span>
          </p>
          {% if user.id == a.attendee.id or a.has_rated %}
          <p></p>
          {% else %}
          <form action="{% url 'add_rating' collide.id a.attendee.id %}" method="POST">
            {% csrf_token %}
            {{ rating_form.as_p }}
            <input type="submit" value="RATE" class="btn">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<h4 class="center">No Attendees Yet</h4>
{% endif %}
<script>
  const selectEls = document.querySelectorAll('select');
  M.FormSelect.init(selectEls);

  let hostRatingEl = document.getElementById('host-{{collide.host.id}}');
  hostRatingEl.style.width = `${24 * {{ host_rating }}}` + 'px';
  let ratingEl;
  {% for a in attendees %}
  ratingEl = document.getElementById('attendee-{{a.attendee.id}}');
  ratingEl.style.width = `${24 * {{ a.avg_rating.rating__avg }}}` + 'px';
  {% endfor %}
</script>
{% endblock %}