{% extends 'profile_base.html' %}
{% block content %}
<br>
<h1 class="center">MY COLLIDES</h1>
<hr><br>
<br><br>
{% if collides.count %}
{% for collide in collides %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <div class="card-title center">
          <p>
            Event:
            <a href="{% url 'events_detail' collide.event.id %}" class="evt-link">
              {{ collide.event.title }}</a>
          </p>
          <a href="{% url 'collides_detail' collide.id %}" class="evt-link">COLLIDE DETAILS</a>
          <a href="{% url 'collides_update' collide.id %}" class="edit-link">
            <p>EDIT</p>
          </a>
          <a href="{% url 'collides_delete' collide.id %}" class="edit-link">
            <p>DELETE</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<h4 class=" center" id="none">No Collides Yet</h4>
{% endif %}

{% endblock %}