{% extends 'profile_base.html' %}
{% block content %}

<br>
<h1 class="center">MY EVENTS</h1>
<hr><br>
{% if events.count %}
{% for event in events %}
<div class="row">
  <div class="center col s8 offset-s2">
    <a href="{% url 'events_detail' event.id %}" id="evt-details">
      <div class="card" id="card">
        <div class="card-content" id="card-content">
          <p>
            <img src="{{ event.photo }}" alt="Event Photo" class="event-img">
          </p>
          <p class="top left">
            {{ event.date }}
          </p>
          <p class="top right">CATEGORY:
            {{ event.category }}
          </p><br><br>
          <span class="card-title">
            {{ event.title }}
          </span>
          <p>
            {{ event.description }}
          </p>
          <a href="{% url 'events_update' event.id %}" class="edit-link">
            <p>EDIT</p>
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %}
{% else %}
<br><br>
<h4 class="center" id="none">No Events Added</h4>
{% endif %}

{% endblock %}