{% extends 'profile_base.html' %}
{% block content %}

<br>
<h1 class="center">MY RSVPs</h1>
<hr><br>
<br><br>

{% if rsvps.count %}
{% for rsvp in rsvps %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <div class="card-title center">
          <p class="info">
            Event:
            {{ rsvp.collide.event.title }}
          </p>
          <p class="info">Collide Host:
            {{ rsvp.collide.host.first_name }}
            {{ rsvp.collide.host.last_name }}
          </p>
          <p id="c-host-rating">
            Rating: <span class="rating-stars" id="host-{{ collide.host.id }}">⭐️⭐️⭐️⭐️⭐️</span>
          </p>
          <a href="{% url 'collides_detail' rsvp.collide.id %}" class="evt-link">COLLIDE DETAILS</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<h4 class="center" id="none">You haven't RSVP'd to any events</h4>
{% endif %}

{% endblock %}